.vscode
.git
#.gitignore

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

steps
/bin/db.js
backend/src/config.js
